/**
*
* Testing
*
**/
* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none !important;
}

.main-color {
  color: #242f51;
}

.header-section {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .logo .logo-part1 {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #fcae61;
}

.header-section .logo .logo-part2 {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #242f51;
}

.header-section nav ul li a {
  padding-left: 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.header-section nav :hover {
  color: #242f51;
}

.header-section .logo-button button {
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 700;
  background-color: blue;
  border-radius: 5rem;
  padding: 0.3rem 1.5rem;
}

@media (max-width: 992px) {
  .header-section nav {
    display: none;
  }
}

.hero-section {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("./images/Layer.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-section .hero-left-part {
  width: 40%;
}

.hero-section .hero-left-part .hero-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}

.hero-section .hero-left-part .hero-dot img {
  width: 2.4rem;
  position: absolute;
  left: 5.9rem;
  margin-top: 0.8rem;
}

.hero-section .hero-left-part .hero-dot p {
  font-size: 18px;
  background-color: #e2eaed;
  padding: 0.2rem 2.2rem;
  border-radius: 5rem;
  margin-top: 0.8rem;
}

.hero-section .hero-left-part h1 {
  font-size: 60px;
  font-weight: 600;
}

.hero-section .hero-left-part p {
  margin-top: 1rem;
  color: #616368;
  font-size: 18px;
}

.hero-section .hero-left-part .hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-left-part .hero-button button {
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 700;
  background-color: blue;
  border-radius: 5rem;
  padding: 0.3rem 1.5rem;
}

.hero-section .hero-left-part .hero-button p {
  font-size: 1.1rem;
  color: blue;
  font-weight: 500;
}

@media (max-width: 992px) {
  .hero-section .hero-left-part .hero-dot img {
    left: 2.9rem;
  }
}

@media (max-width: 768px) {
  .hero-section {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-section .hero-left-part {
    width: 80%;
    margin: auto;
  }
  .hero-section .hero-left-part .hero-dot img {
    left: 3.3rem;
  }
  .hero-section .hero-left-part h1 {
    font-size: 30px;
  }
  .hero-section .hero-left-part .hero-button button {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 600;
    background-color: blue;
    border-radius: 2rem;
    padding: 0.3rem 1.2rem;
  }
  .hero-section .hero-left-part .hero-button p {
    margin-left: 0.8rem;
  }
  .hero-section .hero-right-part img {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

.companies-section {
  margin-top: 6rem;
}

.companies-section h5 {
  text-align: center;
}

.companies-section .companies-img {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .companies-section h5 {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }
  .companies-section .companies-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2rem;
  }
  .companies-section .companies-img img {
    margin: 1rem;
  }
}

.features-section {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-section .feature-img {
  width: 30%;
}

.features-section .feature-right-part {
  width: 42%;
}

.features-section .feature-right-part h1 {
  font-size: 50px;
  font-weight: 600;
}

.features-section .feature-right-part p {
  color: #616368;
  font-size: 14px;
}

.features-section .feature-right-part .feat-items {
  width: 60%;
  margin-left: 3rem;
  margin-top: 5rem;
}

.features-section .feature-right-part .feat-items .item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-section .feature-right-part .feat-items .item-1 .item-img {
  background-color: #f557672c;
  padding: 0.9rem;
  border-radius: 50%;
}

.features-section .feature-right-part .feat-items .item-1 .item-text {
  margin-left: 2rem;
}

.features-section .feature-right-part .feat-items .item-1 .item-text h4 {
  color: #f55767;
  font-weight: 600;
}

.features-section .feature-right-part .feat-items .item-2 {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-section .feature-right-part .feat-items .item-2 .item-img {
  background-color: #2563ff1f;
  padding: 0.9rem;
  border-radius: 50%;
}

.features-section .feature-right-part .feat-items .item-2 .item-text {
  margin-left: 2rem;
}

.features-section .feature-right-part .feat-items .item-2 .item-text h4 {
  color: #2563ff;
  font-weight: 600;
}

.features-section .feature-right-part .feat-items .item-3 {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-section .feature-right-part .feat-items .item-3 .item-img {
  background-color: #40975e1e;
  padding: 0.9rem;
  border-radius: 50%;
}

.features-section .feature-right-part .feat-items .item-3 .item-text {
  margin-left: 2rem;
}

.features-section .feature-right-part .feat-items .item-3 .item-text h4 {
  color: #40975f;
  font-weight: 600;
}

@media (max-width: 992px) {
  .features-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .features-section .feature-img {
    width: 100%;
  }
  .features-section .feature-img img {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .features-section .feature-right-part .feat-items {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .features-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .features-section .feature-img {
    width: 100%;
  }
  .features-section .feature-img img {
    width: 62%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .features-section .feature-right-part {
    width: 90% !important;
  }
  .features-section .feature-right-part .feat-items {
    width: 80%;
    display: block;
  }
}

.jackpots-section {
  margin-top: 10rem;
}

.jackpots-section .first-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jackpots-section .first-div .jackpots-left-part {
  width: 40%;
}

.jackpots-section .first-div .jackpots-left-part h1 {
  font-size: 45px;
  font-weight: 600;
}

.jackpots-section .first-div .jackpots-right-part {
  width: 40%;
}

.jackpots-section .first-div .jackpots-right-part p {
  color: #616368;
}

.jackpots-section .second-div {
  width: 95%;
  margin: auto;
}

.jackpots-section .second-div .jackpots-items {
  margin-top: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-1 {
  width: 30%;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-1 .jackpots-item-img img {
  background-color: #f557672c;
  padding: 0.9rem;
  border-radius: 50%;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-1 .jackpots-item-text h4 {
  font-weight: 700;
  color: #f55767;
  text-align: left;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-1 .jackpots-item-text p {
  text-align: left;
  color: #616368;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-2 {
  width: 30%;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-2 .jackpots-item-img img {
  background-color: #2563ff1f;
  padding: 0.9rem;
  border-radius: 50%;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-2 .jackpots-item-text h4 {
  font-weight: 700;
  color: #2563ff;
  text-align: left;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-2 .jackpots-item-text p {
  text-align: left;
  color: #616368;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-3 {
  width: 20%;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-3 .jackpots-item-img img {
  background-color: #40975e1e;
  padding: 0.9rem;
  border-radius: 50%;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-3 .jackpots-item-text h4 {
  font-weight: 700;
  color: #40975f;
  text-align: left;
}

.jackpots-section .second-div .jackpots-items .jackpots-item-3 .jackpots-item-text p {
  text-align: left;
  color: #616368;
}

@media (max-width: 992px) {
  .jackpots-section .first-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jackpots-section .first-div .jackpots-left-part {
    width: 45%;
  }
  .jackpots-section .first-div .jackpots-left-part h1 {
    font-size: 2rem;
  }
  .jackpots-section .second-div .jackpots-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-1 {
    width: 30% !important;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-1 .jackpots-item-text h4 {
    margin-top: 1.2rem;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-1 .jackpots-item-text h4,
  .jackpots-section .second-div .jackpots-items .jackpots-item-1 .jackpots-item-text p {
    text-align: center;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-3 {
    width: 30% !important;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-3 .jackpots-item-text h4 {
    margin-top: 1.2rem;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-3 .jackpots-item-text h4,
  .jackpots-section .second-div .jackpots-items .jackpots-item-3 .jackpots-item-text p {
    text-align: center;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-2 {
    width: 30% !important;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-2 h4 {
    margin-top: 1.2rem;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-2 .jackpots-item-text h4,
  .jackpots-section .second-div .jackpots-items .jackpots-item-2 .jackpots-item-text p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .jackpots-section {
    margin-top: 4rem;
  }
  .jackpots-section .first-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jackpots-section .first-div .jackpots-left-part {
    width: 85%;
  }
  .jackpots-section .first-div .jackpots-left-part h1 {
    font-size: 2rem;
    text-align: center;
  }
  .jackpots-section .first-div .jackpots-right-part {
    width: 85%;
  }
  .jackpots-section .first-div .jackpots-right-part p {
    margin-top: 1.5rem;
    text-align: center;
  }
  .jackpots-section .second-div .jackpots-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-1 {
    margin-bottom: 1.5rem;
    width: 50% !important;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-1 .jackpots-item-text h4,
  .jackpots-section .second-div .jackpots-items .jackpots-item-1 .jackpots-item-text p {
    text-align: center;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-2 {
    width: 50% !important;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-2 .jackpots-item-text h4,
  .jackpots-section .second-div .jackpots-items .jackpots-item-2 .jackpots-item-text p {
    text-align: center;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-3 {
    width: 50% !important;
  }
  .jackpots-section .second-div .jackpots-items .jackpots-item-3 .jackpots-item-text h4,
  .jackpots-section .second-div .jackpots-items .jackpots-item-3 .jackpots-item-text p {
    text-align: center;
  }
}

.integration-section {
  margin-top: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integration-section .integration-text {
  width: 35%;
}

.integration-section .integration-text h1 {
  font-size: 50px;
  font-weight: 600;
}

.integration-section .integration-text p {
  margin-top: 1.2rem;
  color: #616368;
}

.integration-section .integration-text button {
  margin-top: 1.2rem;
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 700;
  background-color: blue;
  border-radius: 5rem;
  padding: 0.3rem 1.5rem;
}

@media (max-width: 992px) {
  .integration-section {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .integration-section .integration-text {
    width: 56%;
  }
  .integration-section .integration-img {
    margin-top: 4rem;
  }
  .integration-section .integration-img img {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .integration-section .integration-text {
    width: 85%;
  }
  .integration-section .integration-text h1 {
    font-size: 32px;
    text-align: center;
  }
  .integration-section .integration-text p {
    text-align: center;
  }
}

.awesome-section {
  margin-top: 10rem;
}

.awesome-section .awesome-heading {
  width: 45%;
  margin: auto;
}

.awesome-section .awesome-heading h1 {
  font-size: 45px;
  text-align: center;
  font-weight: 600;
}

.awesome-section .awesome-heading p {
  margin-top: 1.5rem;
  color: #616368;
  text-align: center;
}

.awesome-section .awesome-items {
  margin-top: 10rem;
}

.awesome-section .awesome-items .awesome-items-pt1 {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-1 {
  width: 30%;
  text-align: center;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-1 .awesome-item-img {
  border-radius: 50%;
  width: 24%;
  margin: auto;
  background-color: #ffecef;
  padding: 1rem;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-1 .awesome-item-text {
  margin-top: 2rem;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-1 .awesome-item-text h4 {
  font-weight: 600;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-1 .awesome-item-text p {
  color: #616368;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-2 {
  width: 30%;
  text-align: center;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-2 .awesome-item-img {
  border-radius: 50%;
  width: 24%;
  margin: auto;
  background-color: #eaf9ff;
  padding: 1rem;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-2 .awesome-item-text {
  margin-top: 2rem;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-2 .awesome-item-text h4 {
  font-weight: 600;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-2 .awesome-item-text p {
  color: #616368;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-3 {
  width: 30%;
  text-align: center;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-3 .awesome-item-img {
  border-radius: 50%;
  width: 24%;
  margin: auto;
  background-color: #fff6d3;
  padding: 1rem;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-3 .awesome-item-text {
  margin-top: 2rem;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-3 .awesome-item-text h4 {
  font-weight: 600;
}

.awesome-section .awesome-items .awesome-items-pt1 .awesome-item-3 .awesome-item-text p {
  color: #616368;
}

.awesome-section .awesome-items .awesome-items-pt2 {
  margin-top: 4rem;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-4 {
  width: 30%;
  text-align: center;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-4 .awesome-item-img {
  border-radius: 50%;
  width: 24%;
  margin: auto;
  background-color: #e4ffee;
  padding: 1rem;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-4 .awesome-item-text {
  margin-top: 2rem;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-4 .awesome-item-text h4 {
  font-weight: 600;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-4 .awesome-item-text p {
  color: #616368;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-5 {
  width: 30%;
  text-align: center;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-5 .awesome-item-img {
  border-radius: 50%;
  width: 24%;
  margin: auto;
  background-color: #f4f4ff;
  padding: 1rem;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-5 .awesome-item-text {
  margin-top: 2rem;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-5 .awesome-item-text h4 {
  font-weight: 600;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-5 .awesome-item-text p {
  color: #616368;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-6 {
  width: 30%;
  text-align: center;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-6 .awesome-item-img {
  border-radius: 50%;
  width: 24%;
  margin: auto;
  background-color: #fdeee4;
  padding: 1rem;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-6 .awesome-item-text {
  margin-top: 2rem;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-6 .awesome-item-text h4 {
  font-weight: 600;
}

.awesome-section .awesome-items .awesome-items-pt2 .awesome-item-6 .awesome-item-text p {
  color: #616368;
}

@media (max-width: 992px) {
  .awesome-section {
    margin-top: 4rem;
  }
  .awesome-section .awesome-items .awesome-item-img {
    width: 42% !important;
  }
}

@media (max-width: 768px) {
  .awesome-section {
    margin-top: 4rem;
  }
  .awesome-section .awesome-heading {
    width: 90%;
  }
  .awesome-section .awesome-heading h1 {
    font-size: 2rem;
  }
  .awesome-section .awesome-items .awesome-items-pt1,
  .awesome-section .awesome-items .awesome-items-pt2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-1,
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-2,
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-3,
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-4,
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-5,
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-6,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-1,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-2,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-3,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-4,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-5,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-6 {
    width: 55% !important;
  }
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-1 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-2 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-3 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-4 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-5 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt1 .awesome-item-6 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-1 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-2 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-3 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-4 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-5 .awesome-item-img,
  .awesome-section .awesome-items .awesome-items-pt2 .awesome-item-6 .awesome-item-img {
    width: 47%;
  }
}

.planning-section {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planning-section .planning-left-part {
  width: 50%;
}

.planning-section .planning-left-part .planning-heading {
  width: 80%;
  margin: auto;
}

.planning-section .planning-left-part .planning-heading h1 {
  font-weight: 600;
  font-size: 45px;
}

.planning-section .planning-left-part .planning-heading p {
  margin-top: 1rem;
  color: #616368;
}

.planning-section .planning-left-part .planning-items {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planning-section .planning-left-part .planning-items .planning-items-pt2 {
  margin-left: 3rem;
}

.planning-section .planning-left-part .planning-items .planning-item-1 .planning-item-img {
  border-radius: 50%;
  width: 35%;
  background-color: #ffecef;
  padding: 1rem;
}

.planning-section .planning-left-part .planning-items .planning-item-1 .planning-item-text {
  margin-top: 1.7rem;
}

.planning-section .planning-left-part .planning-items .planning-item-1 .planning-item-text h4 {
  font-weight: 600;
}

.planning-section .planning-left-part .planning-items .planning-item-1 .planning-item-text p {
  color: #616368;
}

.planning-section .planning-left-part .planning-items .planning-item-2 .planning-item-img {
  border-radius: 50%;
  width: 35%;
  background-color: #fff6d3;
  padding: 1rem;
}

.planning-section .planning-left-part .planning-items .planning-item-2 .planning-item-text {
  margin-top: 1.7rem;
}

.planning-section .planning-left-part .planning-items .planning-item-2 .planning-item-text h4 {
  font-weight: 600;
}

.planning-section .planning-left-part .planning-items .planning-item-2 .planning-item-text p {
  color: #616368;
}

.planning-section .planning-left-part .planning-items .planning-item-3 .planning-item-img {
  border-radius: 50%;
  width: 35%;
  background-color: #e4ffee;
  padding: 1rem;
}

.planning-section .planning-left-part .planning-items .planning-item-3 .planning-item-text {
  margin-top: 1.7rem;
}

.planning-section .planning-left-part .planning-items .planning-item-3 .planning-item-text h4 {
  font-weight: 600;
}

.planning-section .planning-left-part .planning-items .planning-item-3 .planning-item-text p {
  color: #616368;
}

.planning-section .planning-left-part .planning-items .planning-item-4 .planning-item-img {
  border-radius: 50%;
  width: 35%;
  background-color: #f4f4ff;
  padding: 1rem;
}

.planning-section .planning-left-part .planning-items .planning-item-4 .planning-item-text {
  margin-top: 1.7rem;
}

.planning-section .planning-left-part .planning-items .planning-item-4 .planning-item-text h4 {
  font-weight: 600;
}

.planning-section .planning-left-part .planning-items .planning-item-4 .planning-item-text p {
  color: #616368;
}

.planning-section .planning-left-part button {
  margin-left: 10%;
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 700;
  background-color: blue;
  border-radius: 5rem;
  padding: 0.3rem 1.5rem;
  padding: 0.2rem 3rem !important;
}

.planning-section .planning-right-part {
  width: 45%;
}

.planning-section .planning-right-part img {
  width: 100%;
}

@media (max-width: 768px) {
  .planning-section {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .planning-section .planning-left-part {
    width: 80%;
    margin: auto;
  }
  .planning-section .planning-left-part .planning-items-pt1 {
    width: 50%;
  }
  .planning-section .planning-left-part .planning-items-pt1 .planning-item-1 .planning-item-img, .planning-section .planning-left-part .planning-items-pt1 .planning-item-2 .planning-item-img {
    width: 76%;
  }
  .planning-section .planning-left-part .planning-items-pt1 .planning-item-1 .planning-item-text h4, .planning-section .planning-left-part .planning-items-pt1 .planning-item-2 .planning-item-text h4 {
    font-size: 1rem;
  }
  .planning-section .planning-left-part .planning-items-pt2 {
    width: 50%;
  }
  .planning-section .planning-left-part .planning-items-pt2 .planning-item-3 .planning-item-img, .planning-section .planning-left-part .planning-items-pt2 .planning-item-4 .planning-item-img {
    width: 97%;
  }
  .planning-section .planning-left-part .planning-items-pt2 .planning-item-3 .planning-item-text h4, .planning-section .planning-left-part .planning-items-pt2 .planning-item-4 .planning-item-text h4 {
    font-size: 1rem;
  }
  .planning-section .planning-left-part .planning-heading {
    width: 90%;
  }
  .planning-section .planning-left-part .planning-heading h1 {
    font-size: 2rem;
    text-align: center;
  }
  .planning-section .planning-left-part .planning-heading p {
    text-align: center;
  }
  .planning-section .planning-right-part {
    margin-top: 3rem;
    width: 100%;
  }
  .planning-section .planning-right-part img {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

.charge-section {
  margin-top: 10rem;
}

.charge-section .charge-heading {
  width: 54%;
  margin: auto;
}

.charge-section .charge-heading h1 {
  font-weight: 600;
  text-align: center;
}

.charge-section .charge-heading p {
  margin-top: 1.2rem;
  color: #616368;
  text-align: center;
}

.charge-section .switch-button {
  margin-top: 5rem;
}

.charge-section .switch-button .button-box {
  width: 300px;
  color: white;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: rgba(224, 222, 222, 0.438);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.411);
}

.charge-section .switch-button .button-box .toggle-btn {
  color: white;
  font-weight: 700;
  padding: 1rem 2rem;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 30px;
  outline: none;
  position: relative;
  text-align: center;
}

.charge-section .switch-button .button-box #btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 55%;
  height: 100%;
  background: blue;
  border-radius: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.charge-section .charge-cards {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.charge-section .charge-cards .left-card {
  width: 33%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: 5rem;
  padding-bottom: 2rem;
}

.charge-section .charge-cards .left-card .card-head {
  background-color: #f4f7f9a4;
  padding: 1rem 2rem;
}

.charge-section .charge-cards .left-card .card-head .fir-pt {
  font-size: 60px;
  font-weight: 600;
}

.charge-section .charge-cards .left-card .card-head .sec-pt {
  color: #616368;
}

.charge-section .charge-cards .left-card .card-head h3 {
  font-weight: 600;
}

.charge-section .charge-cards .left-card .card-head p {
  color: #616368;
}

.charge-section .charge-cards .left-card .card-body {
  margin-top: 2rem;
}

.charge-section .charge-cards .left-card .card-body p {
  color: #616368;
  text-align: center;
}

.charge-section .charge-cards .left-card button {
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 700;
  background-color: blue;
  border-radius: 5rem;
  padding: 0.3rem 1.5rem;
  margin-top: 1.7rem;
  margin-left: 3.6rem;
}

.charge-section .charge-cards .right-card {
  width: 33%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-right: 5rem;
  padding-bottom: 2rem;
}

.charge-section .charge-cards .right-card .card-head {
  background-color: #f4f7f9a4;
  padding: 1rem 2rem;
}

.charge-section .charge-cards .right-card .card-head .fir-pt {
  font-size: 60px;
  font-weight: 600;
}

.charge-section .charge-cards .right-card .card-head .sec-pt {
  color: #616368;
}

.charge-section .charge-cards .right-card .card-head h3 {
  font-weight: 600;
}

.charge-section .charge-cards .right-card .card-head p {
  color: #616368;
}

.charge-section .charge-cards .right-card .card-body {
  margin-top: 2rem;
}

.charge-section .charge-cards .right-card .card-body p {
  color: #616368;
  text-align: center;
}

.charge-section .charge-cards .right-card button {
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 700;
  background-color: blue;
  border-radius: 5rem;
  padding: 0.3rem 1.5rem;
  margin-top: 1.7rem;
  margin-left: 3.6rem;
}

@media (max-width: 768px) {
  .charge-section {
    margin-top: 4rem;
  }
  .charge-section .charge-heading {
    width: 95%;
  }
  .charge-section .charge-cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .charge-section .charge-cards .left-card {
    width: 57%;
    margin-left: 0;
    padding-bottom: 2rem;
  }
  .charge-section .charge-cards .left-card .card-head .fir-pt {
    font-size: 25px;
  }
  .charge-section .charge-cards .left-card .card-head .sec-pt {
    font-size: 14px;
  }
  .charge-section .charge-cards .left-card .card-head h3 {
    font-size: 20px;
  }
  .charge-section .charge-cards .left-card button {
    font-size: 10px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 500;
    background-color: blue;
    border-radius: 5rem;
    padding: 0.3rem 0.3rem;
    margin-left: 2rem;
  }
  .charge-section .charge-cards .right-card {
    width: 57%;
    margin-top: 2rem;
    margin-right: 0;
    padding-bottom: 2rem;
  }
  .charge-section .charge-cards .right-card .card-head .fir-pt {
    font-size: 25px;
  }
  .charge-section .charge-cards .right-card .card-head .sec-pt {
    font-size: 14px;
  }
  .charge-section .charge-cards .right-card .card-head h3 {
    font-size: 20px;
  }
  .charge-section .charge-cards .right-card button {
    font-size: 10px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 500;
    background-color: blue;
    border-radius: 5rem;
    padding: 0.3rem 0.3rem;
    margin-left: 2rem;
  }
}

@media (max-width: 992px) {
  .charge-section .charge-cards {
    margin-top: 5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .charge-section .charge-cards .left-card {
    width: 35%;
    margin-left: 0;
    padding-bottom: 2rem;
  }
  .charge-section .charge-cards .right-card {
    width: 35%;
    margin-right: 0;
    padding-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .charge-section .charge-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .charge-section .charge-cards .left-card {
    width: 57%;
    margin-left: 0;
    padding-bottom: 2rem;
  }
  .charge-section .charge-cards .right-card {
    margin-top: 2rem;
    width: 57%;
    margin-right: 0;
    padding-bottom: 2rem;
  }
}

.testimonials-section {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-section .testimonials-right-pt h1 {
  font-weight: 600;
}

.testimonials-section .testimonials-right-pt p {
  color: #616368;
}

.testimonials-section .testimonials-right-pt img {
  width: 20%;
}

.testimonials-section .testimonials-right-pt h4 {
  font-weight: 600;
}

.testimonials-section .testimonials-right-pt .testi-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-section .testimonials-right-pt .testi-person .information {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-section .testimonials-right-pt .testi-person .information .avatar img {
  width: 50%;
  border-radius: 50%;
}

.testimonials-section .testimonials-right-pt .testi-person .information .desc {
  margin-top: 0.4rem;
  line-height: 1;
}

.testimonials-section .testimonials-right-pt .testi-person .testi-arrow .left-arrow {
  background-color: rgba(128, 128, 128, 0.158);
  padding: 0.7rem;
  border-radius: 50%;
}

.testimonials-section .testimonials-right-pt .testi-person .testi-arrow .left-arrow i {
  color: #a3a3ac;
}

.testimonials-section .testimonials-right-pt .testi-person .testi-arrow .right-arrow {
  background-color: rgba(128, 128, 128, 0.158);
  padding: 0.7rem;
  border-radius: 50%;
}

.testimonials-section .testimonials-right-pt .testi-person .testi-arrow .right-arrow i {
  color: blue;
}

@media (max-width: 992px) {
  .testimonials-section .testimonials-left-pt {
    width: 45%;
  }
  .testimonials-section .testimonials-left-pt img {
    width: 100%;
  }
  .testimonials-section .testimonials-right-pt {
    width: 55%;
  }
  .testimonials-section .testimonials-right-pt h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .testimonials-section {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials-section .testimonials-left-pt {
    width: 70%;
  }
  .testimonials-section .testimonials-left-pt img {
    width: 100%;
  }
  .testimonials-section .testimonials-right-pt {
    width: 90%;
  }
  .testimonials-section .testimonials-right-pt h1 {
    font-size: 28px;
  }
  .testimonials-section .testimonials-right-pt .testi-person .information {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .testimonials-section .testimonials-right-pt .testi-person .information .desc h6 {
    font-size: 13px;
  }
  .testimonials-section .testimonials-right-pt .testi-person .information .desc p {
    font-size: 11px;
  }
}

.frequently-section {
  margin-top: 10rem;
}

.frequently-section .frequently-heading {
  width: 60%;
  margin: auto;
  text-align: center;
}

.frequently-section .frequently-heading h1 {
  font-weight: 600;
}

.frequently-section .frequently-heading p {
  color: #616368;
}

.frequently-section .accordion-sec {
  width: 65%;
  margin: auto;
}

.frequently-section .accordion-sec .accordion-item .accordion-headeing button {
  background-color: rgba(128, 128, 128, 0.144);
  outline: 0 !important;
  border: 0 !important;
}

@media (max-width: 768px) {
  .frequently-section .frequently-heading {
    width: 90%;
  }
}

.download-section {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download-section .download-left-pt {
  width: 40%;
}

.download-section .download-left-pt h1 {
  font-weight: 600;
}

.download-section .download-left-pt p {
  margin-top: 1rem;
  color: #616368;
}

.download-section .download-left-pt .download-apps {
  margin-top: 2rem;
}

.download-section .download-right-pt {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download-section .download-right-pt img {
  width: 100%;
}

@media (max-width: 992px) {
  .download-section {
    padding-bottom: 2rem;
  }
  .download-section .download-apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .download-section .download-apps img {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .download-section {
    margin-top: 5rem;
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .download-section .download-right-pt {
    width: 80%;
  }
  .download-section .download-right-pt img {
    width: 90%;
  }
  .download-section .download-left-pt {
    margin-top: 2rem;
    width: 94%;
  }
  .download-section .download-apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .download-section .download-apps img {
    width: 50%;
    margin-left: 1rem;
  }
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #09142e;
}

.footer-section .foot-heading {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-section .foot-heading .logo-foot .logo-foot-part1 {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #fcae61;
}

.footer-section .foot-heading .logo-foot .logo-foot-part2 {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #242f51;
}

.footer-section .foot-heading .foot-menu {
  margin-top: 2rem;
}

.footer-section .foot-heading .foot-menu nav ul li a {
  padding-left: 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.footer-section .foot-heading .foot-menu nav :hover {
  color: white;
}

.footer-section .foot-heading .foot-icons {
  margin-top: 2rem;
}

.footer-section .foot-heading .foot-icons i {
  font-size: 1.8rem;
  margin-left: 0.7rem;
  cursor: pointer;
}

.footer-section .foot-heading .foot-icons i:nth-child(3) {
  color: white;
}

.footer-section .foot-heading .foot-copy-rights {
  margin-top: 7rem;
}

.footer-section .foot-heading .foot-copy-rights p {
  color: #616368;
}

@media (max-width: 768px) {
  .footer-section .foot-heading .foot-copy-rights p {
    font-size: 14px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */